<div class="alert alert-success mt-5 text-center" role="alert">
  <span>太棒了！你的網址已經縮短為：</span>
  <span id="short_url">{{domain}}{{code}}</span>
  <button class="btn btn-success" onClick="copyFn()">點擊複製（功能即將上線）</button>
</div>